.abbr .hll { background-color: #ffffcc }
.abbr  { background: #f8f8f8; }
.abbr .c { color: #408080; font-style: italic } /* Comment */
.abbr .err { border: 1px solid #FF0000 } /* Error */
.abbr .k { color: #008000; font-weight: bold } /* Keyword */
.abbr .o { color: #666666 } /* Operator */
.abbr .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.abbr .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.abbr .cp { color: #BC7A00 } /* Comment.Preproc */
.abbr .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.abbr .c1 { color: #408080; font-style: italic } /* Comment.Single */
.abbr .cs { color: #408080; font-style: italic } /* Comment.Special */
.abbr .gd { color: #A00000 } /* Generic.Deleted */
.abbr .ge { font-style: italic } /* Generic.Emph */
.abbr .gr { color: #FF0000 } /* Generic.Error */
.abbr .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.abbr .gi { color: #00A000 } /* Generic.Inserted */
.abbr .go { color: #888888 } /* Generic.Output */
.abbr .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.abbr .gs { font-weight: bold } /* Generic.Strong */
.abbr .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.abbr .gt { color: #0044DD } /* Generic.Traceback */
.abbr .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.abbr .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.abbr .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.abbr .kp { color: #008000 } /* Keyword.Pseudo */
.abbr .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.abbr .kt { color: #B00040 } /* Keyword.Type */
.abbr .m { color: #666666 } /* Literal.Number */
.abbr .s { color: #BA2121 } /* Literal.String */
.abbr .na { color: #7D9029 } /* Name.Attribute */
.abbr .nb { color: #008000 } /* Name.Builtin */
.abbr .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.abbr .no { color: #880000 } /* Name.Constant */
.abbr .nd { color: #AA22FF } /* Name.Decorator */
.abbr .ni { color: #999999; font-weight: bold } /* Name.Entity */
.abbr .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.abbr .nf { color: #0000FF } /* Name.Function */
.abbr .nl { color: #A0A000 } /* Name.Label */
.abbr .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.abbr .nt { color: #008000; font-weight: bold } /* Name.Tag */
.abbr .nv { color: #19177C } /* Name.Variable */
.abbr .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.abbr .w { color: #bbbbbb } /* Text.Whitespace */
.abbr .mb { color: #666666 } /* Literal.Number.Bin */
.abbr .mf { color: #666666 } /* Literal.Number.Float */
.abbr .mh { color: #666666 } /* Literal.Number.Hex */
.abbr .mi { color: #666666 } /* Literal.Number.Integer */
.abbr .mo { color: #666666 } /* Literal.Number.Oct */
.abbr .sa { color: #BA2121 } /* Literal.String.Affix */
.abbr .sb { color: #BA2121 } /* Literal.String.Backtick */
.abbr .sc { color: #BA2121 } /* Literal.String.Char */
.abbr .dl { color: #BA2121 } /* Literal.String.Delimiter */
.abbr .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.abbr .s2 { color: #BA2121 } /* Literal.String.Double */
.abbr .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.abbr .sh { color: #BA2121 } /* Literal.String.Heredoc */
.abbr .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.abbr .sx { color: #008000 } /* Literal.String.Other */
.abbr .sr { color: #BB6688 } /* Literal.String.Regex */
.abbr .s1 { color: #BA2121 } /* Literal.String.Single */
.abbr .ss { color: #19177C } /* Literal.String.Symbol */
.abbr .bp { color: #008000 } /* Name.Builtin.Pseudo */
.abbr .fm { color: #0000FF } /* Name.Function.Magic */
.abbr .vc { color: #19177C } /* Name.Variable.Class */
.abbr .vg { color: #19177C } /* Name.Variable.Global */
.abbr .vi { color: #19177C } /* Name.Variable.Instance */
.abbr .vm { color: #19177C } /* Name.Variable.Magic */
.abbr .il { color: #666666 } /* Literal.Number.Integer.Long */
