.extra .hll { background-color: #ffffcc }
.extra  { background: #f8f8f8; }
.extra .c { color: #408080; font-style: italic } /* Comment */
.extra .err { border: 1px solid #FF0000 } /* Error */
.extra .k { color: #008000; font-weight: bold } /* Keyword */
.extra .o { color: #666666 } /* Operator */
.extra .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.extra .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.extra .cp { color: #BC7A00 } /* Comment.Preproc */
.extra .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.extra .c1 { color: #408080; font-style: italic } /* Comment.Single */
.extra .cs { color: #408080; font-style: italic } /* Comment.Special */
.extra .gd { color: #A00000 } /* Generic.Deleted */
.extra .ge { font-style: italic } /* Generic.Emph */
.extra .gr { color: #FF0000 } /* Generic.Error */
.extra .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.extra .gi { color: #00A000 } /* Generic.Inserted */
.extra .go { color: #888888 } /* Generic.Output */
.extra .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.extra .gs { font-weight: bold } /* Generic.Strong */
.extra .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.extra .gt { color: #0044DD } /* Generic.Traceback */
.extra .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.extra .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.extra .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.extra .kp { color: #008000 } /* Keyword.Pseudo */
.extra .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.extra .kt { color: #B00040 } /* Keyword.Type */
.extra .m { color: #666666 } /* Literal.Number */
.extra .s { color: #BA2121 } /* Literal.String */
.extra .na { color: #7D9029 } /* Name.Attribute */
.extra .nb { color: #008000 } /* Name.Builtin */
.extra .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.extra .no { color: #880000 } /* Name.Constant */
.extra .nd { color: #AA22FF } /* Name.Decorator */
.extra .ni { color: #999999; font-weight: bold } /* Name.Entity */
.extra .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.extra .nf { color: #0000FF } /* Name.Function */
.extra .nl { color: #A0A000 } /* Name.Label */
.extra .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.extra .nt { color: #008000; font-weight: bold } /* Name.Tag */
.extra .nv { color: #19177C } /* Name.Variable */
.extra .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.extra .w { color: #bbbbbb } /* Text.Whitespace */
.extra .mb { color: #666666 } /* Literal.Number.Bin */
.extra .mf { color: #666666 } /* Literal.Number.Float */
.extra .mh { color: #666666 } /* Literal.Number.Hex */
.extra .mi { color: #666666 } /* Literal.Number.Integer */
.extra .mo { color: #666666 } /* Literal.Number.Oct */
.extra .sa { color: #BA2121 } /* Literal.String.Affix */
.extra .sb { color: #BA2121 } /* Literal.String.Backtick */
.extra .sc { color: #BA2121 } /* Literal.String.Char */
.extra .dl { color: #BA2121 } /* Literal.String.Delimiter */
.extra .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.extra .s2 { color: #BA2121 } /* Literal.String.Double */
.extra .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.extra .sh { color: #BA2121 } /* Literal.String.Heredoc */
.extra .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.extra .sx { color: #008000 } /* Literal.String.Other */
.extra .sr { color: #BB6688 } /* Literal.String.Regex */
.extra .s1 { color: #BA2121 } /* Literal.String.Single */
.extra .ss { color: #19177C } /* Literal.String.Symbol */
.extra .bp { color: #008000 } /* Name.Builtin.Pseudo */
.extra .fm { color: #0000FF } /* Name.Function.Magic */
.extra .vc { color: #19177C } /* Name.Variable.Class */
.extra .vg { color: #19177C } /* Name.Variable.Global */
.extra .vi { color: #19177C } /* Name.Variable.Instance */
.extra .vm { color: #19177C } /* Name.Variable.Magic */
.extra .il { color: #666666 } /* Literal.Number.Integer.Long */
