.tables .hll { background-color: #ffffcc }
.tables  { background: #f8f8f8; }
.tables .c { color: #408080; font-style: italic } /* Comment */
.tables .err { border: 1px solid #FF0000 } /* Error */
.tables .k { color: #008000; font-weight: bold } /* Keyword */
.tables .o { color: #666666 } /* Operator */
.tables .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.tables .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.tables .cp { color: #BC7A00 } /* Comment.Preproc */
.tables .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.tables .c1 { color: #408080; font-style: italic } /* Comment.Single */
.tables .cs { color: #408080; font-style: italic } /* Comment.Special */
.tables .gd { color: #A00000 } /* Generic.Deleted */
.tables .ge { font-style: italic } /* Generic.Emph */
.tables .gr { color: #FF0000 } /* Generic.Error */
.tables .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.tables .gi { color: #00A000 } /* Generic.Inserted */
.tables .go { color: #888888 } /* Generic.Output */
.tables .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.tables .gs { font-weight: bold } /* Generic.Strong */
.tables .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.tables .gt { color: #0044DD } /* Generic.Traceback */
.tables .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.tables .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.tables .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.tables .kp { color: #008000 } /* Keyword.Pseudo */
.tables .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.tables .kt { color: #B00040 } /* Keyword.Type */
.tables .m { color: #666666 } /* Literal.Number */
.tables .s { color: #BA2121 } /* Literal.String */
.tables .na { color: #7D9029 } /* Name.Attribute */
.tables .nb { color: #008000 } /* Name.Builtin */
.tables .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.tables .no { color: #880000 } /* Name.Constant */
.tables .nd { color: #AA22FF } /* Name.Decorator */
.tables .ni { color: #999999; font-weight: bold } /* Name.Entity */
.tables .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.tables .nf { color: #0000FF } /* Name.Function */
.tables .nl { color: #A0A000 } /* Name.Label */
.tables .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.tables .nt { color: #008000; font-weight: bold } /* Name.Tag */
.tables .nv { color: #19177C } /* Name.Variable */
.tables .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.tables .w { color: #bbbbbb } /* Text.Whitespace */
.tables .mb { color: #666666 } /* Literal.Number.Bin */
.tables .mf { color: #666666 } /* Literal.Number.Float */
.tables .mh { color: #666666 } /* Literal.Number.Hex */
.tables .mi { color: #666666 } /* Literal.Number.Integer */
.tables .mo { color: #666666 } /* Literal.Number.Oct */
.tables .sa { color: #BA2121 } /* Literal.String.Affix */
.tables .sb { color: #BA2121 } /* Literal.String.Backtick */
.tables .sc { color: #BA2121 } /* Literal.String.Char */
.tables .dl { color: #BA2121 } /* Literal.String.Delimiter */
.tables .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.tables .s2 { color: #BA2121 } /* Literal.String.Double */
.tables .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.tables .sh { color: #BA2121 } /* Literal.String.Heredoc */
.tables .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.tables .sx { color: #008000 } /* Literal.String.Other */
.tables .sr { color: #BB6688 } /* Literal.String.Regex */
.tables .s1 { color: #BA2121 } /* Literal.String.Single */
.tables .ss { color: #19177C } /* Literal.String.Symbol */
.tables .bp { color: #008000 } /* Name.Builtin.Pseudo */
.tables .fm { color: #0000FF } /* Name.Function.Magic */
.tables .vc { color: #19177C } /* Name.Variable.Class */
.tables .vg { color: #19177C } /* Name.Variable.Global */
.tables .vi { color: #19177C } /* Name.Variable.Instance */
.tables .vm { color: #19177C } /* Name.Variable.Magic */
.tables .il { color: #666666 } /* Literal.Number.Integer.Long */
