{% extends 'base.html' %}
{% load static%}
{% load markdown_extras %}

{% block content %}
    <link href="{%static 'css/codehilite.css' %}" rel="stylesheet">
    <link href="{%static 'css/fenced_code.css' %}" rel="stylesheet">
    <link href="{%static 'css/tables.css' %}" rel="stylesheet">
    <link href="{%static 'css/extra.css' %}" rel="stylesheet">
    <link href="{%static 'css/abbr.css' %}" rel="stylesheet">
    <link href="{%static 'css/attr_list.css' %}" rel="stylesheet">
    <link href="{%static 'css/def_list.css' %}" rel="stylesheet">
    <link href="{%static 'css/footnotes.css' %}" rel="stylesheet">
    <link href="{%static 'css/md_in_html.css' %}" rel="stylesheet">
	<div class="container">
    	<div class="article-detail">
			<div class="article">
				<!-- <img src="{{article.thumb.url}}" /> -->
				<h2>{{article.title}}</h2>
<!-- 				<p>{{article.body| markdownify |safe}}</p> -->
				<p>{{article.formatted_markdown |safe}}</p>
				<!-- <p>{{article.date}}</p> -->
				<!-- <p>{{article.body|safe}}</p> -->
				{% for tag in article.tags.all %}
					<a href="{%url 'articles:tagged' tag.slug %}" class="mr-1 badge-info">#{{tag.name}}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
