.fenced_code .hll { background-color: #ffffcc }
.fenced_code  { background: #f8f8f8; }
.fenced_code .c { color: #408080; font-style: italic } /* Comment */
.fenced_code .err { border: 1px solid #FF0000 } /* Error */
.fenced_code .k { color: #008000; font-weight: bold } /* Keyword */
.fenced_code .o { color: #666666 } /* Operator */
.fenced_code .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.fenced_code .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.fenced_code .cp { color: #BC7A00 } /* Comment.Preproc */
.fenced_code .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.fenced_code .c1 { color: #408080; font-style: italic } /* Comment.Single */
.fenced_code .cs { color: #408080; font-style: italic } /* Comment.Special */
.fenced_code .gd { color: #A00000 } /* Generic.Deleted */
.fenced_code .ge { font-style: italic } /* Generic.Emph */
.fenced_code .gr { color: #FF0000 } /* Generic.Error */
.fenced_code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.fenced_code .gi { color: #00A000 } /* Generic.Inserted */
.fenced_code .go { color: #888888 } /* Generic.Output */
.fenced_code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.fenced_code .gs { font-weight: bold } /* Generic.Strong */
.fenced_code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.fenced_code .gt { color: #0044DD } /* Generic.Traceback */
.fenced_code .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.fenced_code .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.fenced_code .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.fenced_code .kp { color: #008000 } /* Keyword.Pseudo */
.fenced_code .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.fenced_code .kt { color: #B00040 } /* Keyword.Type */
.fenced_code .m { color: #666666 } /* Literal.Number */
.fenced_code .s { color: #BA2121 } /* Literal.String */
.fenced_code .na { color: #7D9029 } /* Name.Attribute */
.fenced_code .nb { color: #008000 } /* Name.Builtin */
.fenced_code .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.fenced_code .no { color: #880000 } /* Name.Constant */
.fenced_code .nd { color: #AA22FF } /* Name.Decorator */
.fenced_code .ni { color: #999999; font-weight: bold } /* Name.Entity */
.fenced_code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.fenced_code .nf { color: #0000FF } /* Name.Function */
.fenced_code .nl { color: #A0A000 } /* Name.Label */
.fenced_code .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.fenced_code .nt { color: #008000; font-weight: bold } /* Name.Tag */
.fenced_code .nv { color: #19177C } /* Name.Variable */
.fenced_code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.fenced_code .w { color: #bbbbbb } /* Text.Whitespace */
.fenced_code .mb { color: #666666 } /* Literal.Number.Bin */
.fenced_code .mf { color: #666666 } /* Literal.Number.Float */
.fenced_code .mh { color: #666666 } /* Literal.Number.Hex */
.fenced_code .mi { color: #666666 } /* Literal.Number.Integer */
.fenced_code .mo { color: #666666 } /* Literal.Number.Oct */
.fenced_code .sa { color: #BA2121 } /* Literal.String.Affix */
.fenced_code .sb { color: #BA2121 } /* Literal.String.Backtick */
.fenced_code .sc { color: #BA2121 } /* Literal.String.Char */
.fenced_code .dl { color: #BA2121 } /* Literal.String.Delimiter */
.fenced_code .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.fenced_code .s2 { color: #BA2121 } /* Literal.String.Double */
.fenced_code .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.fenced_code .sh { color: #BA2121 } /* Literal.String.Heredoc */
.fenced_code .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.fenced_code .sx { color: #008000 } /* Literal.String.Other */
.fenced_code .sr { color: #BB6688 } /* Literal.String.Regex */
.fenced_code .s1 { color: #BA2121 } /* Literal.String.Single */
.fenced_code .ss { color: #19177C } /* Literal.String.Symbol */
.fenced_code .bp { color: #008000 } /* Name.Builtin.Pseudo */
.fenced_code .fm { color: #0000FF } /* Name.Function.Magic */
.fenced_code .vc { color: #19177C } /* Name.Variable.Class */
.fenced_code .vg { color: #19177C } /* Name.Variable.Global */
.fenced_code .vi { color: #19177C } /* Name.Variable.Instance */
.fenced_code .vm { color: #19177C } /* Name.Variable.Magic */
.fenced_code .il { color: #666666 } /* Literal.Number.Integer.Long */
