.footnotes .hll { background-color: #ffffcc }
.footnotes  { background: #f8f8f8; }
.footnotes .c { color: #408080; font-style: italic } /* Comment */
.footnotes .err { border: 1px solid #FF0000 } /* Error */
.footnotes .k { color: #008000; font-weight: bold } /* Keyword */
.footnotes .o { color: #666666 } /* Operator */
.footnotes .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.footnotes .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.footnotes .cp { color: #BC7A00 } /* Comment.Preproc */
.footnotes .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.footnotes .c1 { color: #408080; font-style: italic } /* Comment.Single */
.footnotes .cs { color: #408080; font-style: italic } /* Comment.Special */
.footnotes .gd { color: #A00000 } /* Generic.Deleted */
.footnotes .ge { font-style: italic } /* Generic.Emph */
.footnotes .gr { color: #FF0000 } /* Generic.Error */
.footnotes .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.footnotes .gi { color: #00A000 } /* Generic.Inserted */
.footnotes .go { color: #888888 } /* Generic.Output */
.footnotes .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.footnotes .gs { font-weight: bold } /* Generic.Strong */
.footnotes .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.footnotes .gt { color: #0044DD } /* Generic.Traceback */
.footnotes .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.footnotes .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.footnotes .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.footnotes .kp { color: #008000 } /* Keyword.Pseudo */
.footnotes .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.footnotes .kt { color: #B00040 } /* Keyword.Type */
.footnotes .m { color: #666666 } /* Literal.Number */
.footnotes .s { color: #BA2121 } /* Literal.String */
.footnotes .na { color: #7D9029 } /* Name.Attribute */
.footnotes .nb { color: #008000 } /* Name.Builtin */
.footnotes .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.footnotes .no { color: #880000 } /* Name.Constant */
.footnotes .nd { color: #AA22FF } /* Name.Decorator */
.footnotes .ni { color: #999999; font-weight: bold } /* Name.Entity */
.footnotes .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.footnotes .nf { color: #0000FF } /* Name.Function */
.footnotes .nl { color: #A0A000 } /* Name.Label */
.footnotes .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.footnotes .nt { color: #008000; font-weight: bold } /* Name.Tag */
.footnotes .nv { color: #19177C } /* Name.Variable */
.footnotes .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.footnotes .w { color: #bbbbbb } /* Text.Whitespace */
.footnotes .mb { color: #666666 } /* Literal.Number.Bin */
.footnotes .mf { color: #666666 } /* Literal.Number.Float */
.footnotes .mh { color: #666666 } /* Literal.Number.Hex */
.footnotes .mi { color: #666666 } /* Literal.Number.Integer */
.footnotes .mo { color: #666666 } /* Literal.Number.Oct */
.footnotes .sa { color: #BA2121 } /* Literal.String.Affix */
.footnotes .sb { color: #BA2121 } /* Literal.String.Backtick */
.footnotes .sc { color: #BA2121 } /* Literal.String.Char */
.footnotes .dl { color: #BA2121 } /* Literal.String.Delimiter */
.footnotes .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.footnotes .s2 { color: #BA2121 } /* Literal.String.Double */
.footnotes .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.footnotes .sh { color: #BA2121 } /* Literal.String.Heredoc */
.footnotes .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.footnotes .sx { color: #008000 } /* Literal.String.Other */
.footnotes .sr { color: #BB6688 } /* Literal.String.Regex */
.footnotes .s1 { color: #BA2121 } /* Literal.String.Single */
.footnotes .ss { color: #19177C } /* Literal.String.Symbol */
.footnotes .bp { color: #008000 } /* Name.Builtin.Pseudo */
.footnotes .fm { color: #0000FF } /* Name.Function.Magic */
.footnotes .vc { color: #19177C } /* Name.Variable.Class */
.footnotes .vg { color: #19177C } /* Name.Variable.Global */
.footnotes .vi { color: #19177C } /* Name.Variable.Instance */
.footnotes .vm { color: #19177C } /* Name.Variable.Magic */
.footnotes .il { color: #666666 } /* Literal.Number.Integer.Long */
