.md_in_html .hll { background-color: #ffffcc }
.md_in_html  { background: #f8f8f8; }
.md_in_html .c { color: #408080; font-style: italic } /* Comment */
.md_in_html .err { border: 1px solid #FF0000 } /* Error */
.md_in_html .k { color: #008000; font-weight: bold } /* Keyword */
.md_in_html .o { color: #666666 } /* Operator */
.md_in_html .ch { color: #408080; font-style: italic } /* Comment.Hashbang */
.md_in_html .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.md_in_html .cp { color: #BC7A00 } /* Comment.Preproc */
.md_in_html .cpf { color: #408080; font-style: italic } /* Comment.PreprocFile */
.md_in_html .c1 { color: #408080; font-style: italic } /* Comment.Single */
.md_in_html .cs { color: #408080; font-style: italic } /* Comment.Special */
.md_in_html .gd { color: #A00000 } /* Generic.Deleted */
.md_in_html .ge { font-style: italic } /* Generic.Emph */
.md_in_html .gr { color: #FF0000 } /* Generic.Error */
.md_in_html .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.md_in_html .gi { color: #00A000 } /* Generic.Inserted */
.md_in_html .go { color: #888888 } /* Generic.Output */
.md_in_html .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.md_in_html .gs { font-weight: bold } /* Generic.Strong */
.md_in_html .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.md_in_html .gt { color: #0044DD } /* Generic.Traceback */
.md_in_html .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.md_in_html .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.md_in_html .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.md_in_html .kp { color: #008000 } /* Keyword.Pseudo */
.md_in_html .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.md_in_html .kt { color: #B00040 } /* Keyword.Type */
.md_in_html .m { color: #666666 } /* Literal.Number */
.md_in_html .s { color: #BA2121 } /* Literal.String */
.md_in_html .na { color: #7D9029 } /* Name.Attribute */
.md_in_html .nb { color: #008000 } /* Name.Builtin */
.md_in_html .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.md_in_html .no { color: #880000 } /* Name.Constant */
.md_in_html .nd { color: #AA22FF } /* Name.Decorator */
.md_in_html .ni { color: #999999; font-weight: bold } /* Name.Entity */
.md_in_html .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.md_in_html .nf { color: #0000FF } /* Name.Function */
.md_in_html .nl { color: #A0A000 } /* Name.Label */
.md_in_html .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.md_in_html .nt { color: #008000; font-weight: bold } /* Name.Tag */
.md_in_html .nv { color: #19177C } /* Name.Variable */
.md_in_html .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.md_in_html .w { color: #bbbbbb } /* Text.Whitespace */
.md_in_html .mb { color: #666666 } /* Literal.Number.Bin */
.md_in_html .mf { color: #666666 } /* Literal.Number.Float */
.md_in_html .mh { color: #666666 } /* Literal.Number.Hex */
.md_in_html .mi { color: #666666 } /* Literal.Number.Integer */
.md_in_html .mo { color: #666666 } /* Literal.Number.Oct */
.md_in_html .sa { color: #BA2121 } /* Literal.String.Affix */
.md_in_html .sb { color: #BA2121 } /* Literal.String.Backtick */
.md_in_html .sc { color: #BA2121 } /* Literal.String.Char */
.md_in_html .dl { color: #BA2121 } /* Literal.String.Delimiter */
.md_in_html .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.md_in_html .s2 { color: #BA2121 } /* Literal.String.Double */
.md_in_html .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.md_in_html .sh { color: #BA2121 } /* Literal.String.Heredoc */
.md_in_html .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.md_in_html .sx { color: #008000 } /* Literal.String.Other */
.md_in_html .sr { color: #BB6688 } /* Literal.String.Regex */
.md_in_html .s1 { color: #BA2121 } /* Literal.String.Single */
.md_in_html .ss { color: #19177C } /* Literal.String.Symbol */
.md_in_html .bp { color: #008000 } /* Name.Builtin.Pseudo */
.md_in_html .fm { color: #0000FF } /* Name.Function.Magic */
.md_in_html .vc { color: #19177C } /* Name.Variable.Class */
.md_in_html .vg { color: #19177C } /* Name.Variable.Global */
.md_in_html .vi { color: #19177C } /* Name.Variable.Instance */
.md_in_html .vm { color: #19177C } /* Name.Variable.Magic */
.md_in_html .il { color: #666666 } /* Literal.Number.Integer.Long */
