{% load static%}

<!DOCTYPE html>
<html>
<head>
	<title>article list</title>
	<link rel="stylesheet" type="text/css" href="{%static 'styles.css' %}">
</head>
<body>
	<div class="wrapper">
		<h1><a href="{% url 'articles:list' %}"><img src="{% static 'logo.png' %}" /></a></h1>
		<nav>
			<ul>
				<li>
					<form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
					{% csrf_token %}
					<button type="submit">Logout</button>
					</form>
				</li>
			</ul>
		</nav>
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>